* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10em auto;
  width: 1080px;
}

.logo-container img {
  width: 50px;
  height: auto;
}

.game-display {
  height: 480px;
  width: 720px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showing {
  width: 100px;
  height: auto;
  margin-top: 2em;
}

.round-winner {
  box-shadow: 0 0 50px green;
  transform: scale(1.4);

}

.round-loser {
  box-shadow: 0 0 50px red;
  transform: scale(0.7);
}

.round-tie {
  box-shadow: 0 0 50px yellow;
}

#show-player,
#show-computer {
  margin-top: 2em;
  padding-bottom: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* box-shadow: 0 0 50px green; */
}

.player-display,
.game-intro-display,
.computer-display {
  height: 225px;
  width: 225px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin: 10px 5px;
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
}

.game-info-container {
  width: 360px;
  margin-left: 15px;
}

#current-score {
  font-size: 24px;
  display: flex;
  padding: 10px;
}

#current-score:first-child span {
  padding-right: 10px;
}

#display-selection {
  padding: 10px 20px;
}

#display-selection p:last-child {
  padding-top: 10px;
}

#display-results {
  padding: 0 20px;
}